# --- DECA Core Dependencies ---
numpy>=1.18.5,<2.0.0
scipy>=1.4.1
chumpy>=0.69
scikit-image>=0.15
opencv-python>=4.1.1
PyYAML>=5.1.1
yacs==0.1.8
ninja
fvcore
kornia>=0.4.0
face-alignment

# --- Processing & Models ---
facenet-pytorch
torch
torchvision
torchaudio

# --- Web Server Dependencies ---
fastapi
uvicorn
python-multipart